* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    Font-family: 'Inter', sans-serif;
}

.header-container {
    padding: 18px 60px;

}

header {
    display: flex;
    justify-content: space-between;
}



nav ul li {
    list-style: none;
}

.navbar-container {
    display: flex;
    gap: 30px;

}

.navbar-link {
    text-decoration: none;
    color: black;
    font-size: 16px;

}

.h1-container {
    text-decoration: none;
    color: black;
    font-size: 24px;
    align-items: center;
}